{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}

	<header>
		{% if user == "" %}
			<span>Hello, User</span>
		{% else %}
			<span>Hello, {{ user }}</span> </br>
			<a href="{% url 'logout' %}">Logout</a>
		{% endif %}
		{% if user == "" %}
			</br>
			<a href="{% url 'login' %}">Sign up/Sign in to make orders</a>
		{% endif %}
	</header>

	<div id="menu">

		<h2>Check the MENU below:</h2>
		<h4>Pizza: </h4>
		<ul>
			{% for pizza in pizzas %}
				<li>
					{{ pizza }} </br></br>
					Cheese: small {{ pizza.cheeseS }}, large {{ pizza.cheeseL }} </br>
					1 Topping: small {{ pizza.toppin1S }}, large {{ pizza.toppin1L }} </br>
					2 Toppings: small {{ pizza.toppin2S }}, large {{ pizza.toppin2L }} </br>
					3 Toppings: small {{ pizza.toppin3S }}, large {{ pizza.toppin3L }} </br>
					Special: small {{ pizza.specialS }}, large {{ pizza.specialL }} </br>
				</li> </br>
			{% empty %}
				<li>No Pizza</li>
			{% endfor %}
		</ul>
		<h4>Subs: </h4>
		<ul>
			{% for sub in subs %}
				<li>{{ sub }}</li>
				{% if sub.hash_name == "steak+cheese" %}
					<ul>
						{% for subextra in subextrasteak %}
							<li>+ {{ subextra }}</li>
						{% empty %}
						{% endfor %}
					</ul>
				{% endif %}
			{% empty %}
				<li>No Subs</li>
			{% endfor %}
			<ul>
				{% for subextra in subextraall %}
					<li>+ {{ subextra }}</li>
					{% empty %}
				{% endfor %}
			</ul>
		</ul>
		<h4>Topping: </h4>
		<ul>
			{% for topping in toppings %}
				<li>{{ topping }}</li>
			{% empty %}
				<li>No Topping</li>
			{% endfor %}
		</ul>
		<h4>Pasta: </h4>
		<ul>
			{% for p in pasta %}
				<li>{{ p }}</li>
			{% empty %}
				<li>No Pasta</li>
			{% endfor %}
		</ul>
		<h4>Salad: </h4>
		<ul>
			{% for salad in salads %}
				<li>{{ salad }}</li>
			{% empty %}
				<li>No Salad</li>
			{% endfor %}
		</ul>
		<h4>Dinner Plate: </h4>
		<ul>
			{% for plate in dinner_plate %}
				<li>{{ plate }}</li>
			{% empty %}
				<li>No Dinner Plates</li>
			{% endfor %}
		</ul>

	</div>
	
	<div id="order">
		{% if user == "" %}
			<h2>Log in to place orders!</h2>
		{% else %}
			<h2>Here you can place orders!</h2>
			{{ message }}
			<form method="post" action="{% url 'index' %}">
				<!-- List of available foods -->
				{% csrf_token %}
				<select id="food-type" name="select-food-type">
					<option value="empty">Food type</option>
					<option value="pizza">Pizza</option>
					<option value="sub">Sub</option>
					<option value="pasta">Pasta</option>
					<option value="salad">Salad</option>
					<option value="dinner_plate">Dinner Plate</option>
				</select>
				<!-- Size. Applies to Pizza, Subs, Dinner Plates -->
				<div id="size-wrap">
					<select id="size" name="size">
						<option value="empty">Portion size</option>
						<option value="small">Small</option>
						<option value="large">Large</option>
					</select>
				</div>
				<!-- Pizza types:Regular and Scilian -->
				<div id="pizza-wrap">
					<select id="pizza-type" name="pizza-type">
						<option value="empty">Pizza type</option>
						{% for pizza in pizzas %}
							<option value={{ pizza.hash_name }}>{{ pizza.name }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- Pizza. Number of toppings -->
				<div id="topping-number-wrap">
					<select id="topping-number" name="topping-number">
						<option value="empty">Toppings</option>
						<option value="Cheese">Cheese</option>
						<option value="1 topping">1 Topping</option>
						<option value="2 toppings">2 Toppings</option>
						<option value="3 toppings">3 Toppings</option>
						<option value="special">Special</option>
					</select>
				</div>
				<!-- If 1 topping -->
				<div id="toppings-wrap1">
					<select id="toppings1" name="topping1">
						<option value="empty">Toppings</option>
						{% for topping in toppings %}
							<option value={{ topping.hash_name }}>{{ topping }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- If 2 toppings -->
				<div id="toppings-wrap2">
					<select id="toppings2" name="topping2">
						<option value="empty">Toppings</option>
						{% for topping in toppings %}
							<option value={{ topping.hash_name }}>{{ topping }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- If 3 toppings -->
				<div id="toppings-wrap3">
					<select id="toppings3" name="topping3">
						<option value="empty">Toppings</option>
						{% for topping in toppings %}
							<option value={{ topping.hash_name  }}>{{ topping }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- Subs menu -->
				<div id="subs-wrap">
					<select id="sub-name" name="sub-name">
						{% for sub in subs %}
							<option value={{ sub.hash_name }}>{{ sub.name }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- Extra for Steak + Cheese -->
				<div id="extra-steak-wrap">
					<select id="extra-steak" name="extra-steak">
						<option value="empty">Steak extra</option>
						{% for subextra in subextrasteak %}
							<option value={{ subextra.hash_name }}>{{ subextra }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- Extra for all subs -->
				<div id="extra-all-wrap">
					<select id="extra-all" name="extra-all">
						<option value="empty">Extra</option>
						{% for subextra in subextraall %}
							<option value={{ subextra.hash_name }}>{{ subextra }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- Pasta menu -->
				<div id="pasta-wrap">
					<select id="pasta-name" name="pasta-name">
						{% for p in pasta %}
							<option value={{ p.hash_name }}>{{ p.name }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- salad menu -->
				<div id="salad-wrap">
					<select id="salad-name" name="salad-name">
						{% for salad in salads %}
							<option value={{ salad.hash_name }}>{{ salad.name }}</option>
						{% endfor %}
					</select>
				</div>
				<!-- dinner plate menu -->
				<div id="dinner-plate-wrap">
					<select id="dinner-plate-name" name="dinner-plate">
						{% for plate in dinner_plate %}
							<option value={{ plate.hash_name }}>{{ plate.name }}</option>
						{% endfor %}
					</select>
				</div>
				</br>

				<input type="submit" name="add-to-cart" value="Add to cart">
			</form>

			<ul>
				{% for order in orders %}
					{% if order.user_id == user_id %}
					<li>{{ order }}</li>
					{% endif %}
				{% empty %}
					<li>Nothing in the cart</li>
				{% endfor %}
			</ul>
			{% if order_price > 0 %}
				<h4>Total price: {{ order_price }}</h4>
			{% endif %}

			<a href="{% url 'cart' %}">Go to Cart</a>

		{% endif %}
	</div>
	
{% endblock %}